// Anime Links Styles
.anime-links {
  margin-bottom: $spacer-md;

  .anime-link {
    display: block;
    text-decoration: none;
    color: white;
    background: $light-sec-bg;
    padding: $spacer-small * 0.5 $spacer;
    border-radius: $border-radius;
    margin-right: $spacer;
    transition: all 200ms ease-out;

    &:hover {
      background: $dark-sec-bg;
    }
  }

  .active {
    background: $primary-clr;
  }
}

/* Mobile Phones */
@media only screen and (max-device-width: 428px) {
  .anime-links {
    margin-left: $sm-pad;
    margin-bottom: $spacer-md;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    scroll-snap-align: center;

    &::-webkit-scrollbar {
      display: none;
    }

    .anime-link {
      min-width: fit-content;
    }
  }
}
