// Navbar Styles
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0) 98.44%);
  padding: $spacer $spacer-lg;
  z-index: 100;

  .navbar__title {
    font-size: $main-fs * 1.25;
    font-weight: bold;
    color: white;
    text-decoration: none;

    span {
      color: $primary-clr;
    }
  }

  .navbar__link {
    padding: 0 $spacer-small;
    color: white;
    font-size: $main-fs * 0.75;
    text-decoration: none;
    transition: all 200ms ease-out;

    &:hover {
      opacity: 0.5;
    }
  }

  .navbar__search {
    margin-left: $spacer-small;
    background: $light-sec-bg;
    border-radius: $border-radius;
    padding: 3.5px $spacer-small;
    box-shadow: 0 0 5px black;

    input {
      outline: none;
      border: none;
      background: transparent;
      width: 100%;
      color: white;
      font-family: $main-ft;
      font-size: $main-fs * 0.75;

      &::placeholder {
        color: white;
      }
    }

    .icon {
      color: white;
      transform: rotate(90deg);
      font-size: $main-fs * 0.8;
    }
  }
}
