// Search Page Styles
.search-container {
  min-height: 100vh;
  padding-top: $spacer-lg * 1.25 !important;
}

// Header
.search__header {
  h2 {
    position: relative;
    color: white;
    font-size: $main-fs * 1.5;
    padding-left: $spacer;
    margin-bottom: $spacer * 1.5;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1vh;
      bottom: 0;
      background: $primary-clr;
      width: 0.3vw;
    }
  }
}
