/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Colors */
/* Font */
/* Spacers */
/* Borders */
.container {
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 8rem !important;
}

.page-container {
  min-height: 100vh;
  padding-top: 10rem !important;
}

.text-overflow {
  max-width: 40ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.between-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes grow {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(98.44%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0) 98.44%);
  padding: 2rem 8rem;
  z-index: 100;
}

.navbar .navbar__title {
  font-size: 1.875rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar .navbar__title span {
  color: #2424ff;
}

.navbar .navbar__link {
  padding: 0 1rem;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.navbar .navbar__link:hover {
  opacity: 0.5;
}

.navbar .navbar__search {
  margin-left: 1rem;
  background: #1e1e1f;
  border-radius: 5px;
  padding: 3.5px 1rem;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.navbar .navbar__search input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 1.125rem;
}

.navbar .navbar__search input::-webkit-input-placeholder {
  color: white;
}

.navbar .navbar__search input:-ms-input-placeholder {
  color: white;
}

.navbar .navbar__search input::-ms-input-placeholder {
  color: white;
}

.navbar .navbar__search input::placeholder {
  color: white;
}

.navbar .navbar__search .icon {
  color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.2rem;
}

.alert__error {
  position: fixed;
  left: 8rem;
  bottom: 10vh;
  min-width: 20vw;
  padding: 0.75rem 1rem;
  border-left: 6px solid #fa1e1e;
  border-radius: 2.5px;
  background: #0f0f0f;
  -webkit-animation: slide-in-left 1000ms forwards ease-out;
          animation: slide-in-left 1000ms forwards ease-out;
}

.alert__error .icon {
  color: #fa1e1e;
  font-size: 1.875rem;
}

.alert__error h4 {
  color: white;
  margin-bottom: 4px;
  font-weight: 500;
}

.alert__error p {
  color: grey;
  font-size: 1.125rem;
}

.small-device-alert {
  padding-top: 4rem !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.small-device-alert h1 {
  color: white;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.small-device-alert h1 span {
  color: #2424ff;
}

.small-device-alert p {
  width: 35ch;
  color: white;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
}

.small-device-alert strong {
  margin-top: 4rem;
  color: white;
  font-size: 1.875rem;
}

.anime-section {
  z-index: 10;
  background: #00000c;
  margin-bottom: 6rem;
}

.anime-section .anime-section__none {
  color: grey;
  font-size: 1.5rem;
}

.anime-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.anime-section__header .header__title {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 1.875rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-section__header .header__title::after {
  position: absolute;
  bottom: -2.5vh;
  left: 0;
  content: "";
  width: 40%;
  height: 0.35vh;
  background: grey;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-section__header .header__title:hover {
  opacity: 0.5;
}

.anime-section__header .header__title:hover::after {
  width: 100%;
}

.anime-section__header .header__tab {
  width: 2.5vw;
  height: 0.65vh;
  background: grey;
  margin-left: 1rem;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-section__header .header__tab:hover {
  cursor: pointer;
  opacity: 0.5;
}

.anime-section__header .active {
  background: #2424ff;
}

.anime-section__anime {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.anime-section__anime .anime-section__button {
  position: absolute;
  outline: none;
  border: none;
  background: transparent;
  top: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 5;
}

.anime-section__anime .anime-section__button .icon {
  color: white;
  font-size: 3rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-section__anime .button__prev {
  left: -5vw;
}

.anime-section__anime .button__prev:hover {
  cursor: pointer;
}

.anime-section__anime .button__prev:hover .icon {
  color: #2424ff;
  -webkit-transform: translateX(-1vw);
          transform: translateX(-1vw);
}

.anime-section__anime .button__next {
  right: -5vw;
}

.anime-section__anime .button__next:hover {
  cursor: pointer;
}

.anime-section__anime .button__next:hover .icon {
  color: #2424ff;
  -webkit-transform: translateX(1vw);
          transform: translateX(1vw);
}

.anime-card {
  width: 10vw;
  -webkit-animation: grow 500ms forwards ease-out;
          animation: grow 500ms forwards ease-out;
}

.anime-card .anime-card__image-box {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-card .anime-card__image-box:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.anime-card .anime-card__image-box:hover .image__hover {
  opacity: 1;
}

.anime-card .anime-card__image-box .anime-card__image {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
  background: #1e1e1f;
}

.anime-card .anime-card__image-box .image__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.anime-card .anime-card__image-box .image__hover .icon {
  font-size: 4.5rem;
  color: white;
}

.anime-card .anime__title {
  color: white;
  max-width: 80%;
  text-decoration: none;
  text-align: center;
  font-size: 0.975rem;
}

.anime-card .anime__title:hover {
  text-decoration: underline;
}

.anime-card p {
  max-width: 65%;
  color: grey;
  text-align: center;
}

.anime-links {
  margin-bottom: 4rem;
}

.anime-links .anime-link {
  display: block;
  text-decoration: none;
  color: white;
  background: #1e1e1f;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-right: 2rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-links .anime-link:hover {
  background: #0f0f0f;
}

.anime-links .active {
  background: #2424ff;
}

.anime-list-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.anime-list-container .anime-list-grid {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (minmax(10vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
  gap: 2rem 1rem;
  width: 100%;
}

.anime-list-container .none {
  color: grey;
  font-size: 1.5rem;
}

.anime-list-container .anime-list__nav {
  margin-top: 8rem;
}

.anime-list-container .anime-list__nav .nav__btn {
  outline: none;
  border: none;
  background: transparent;
}

.anime-list-container .anime-list__nav .nav__btn .icon {
  color: white;
  font-size: 1.875rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-list-container .anime-list__nav .nav__btn:hover {
  cursor: pointer;
}

.anime-list-container .anime-list__nav .nav__btn:hover .icon {
  color: #2424ff;
}

.anime-list-container .anime-list__nav .disabled .icon {
  color: grey;
}

.anime-list-container .anime-list__nav .disabled:hover {
  cursor: not-allowed;
}

.anime-list-container .anime-list__nav .disabled:hover .icon {
  color: red;
}

.anime-list-container .anime-list__nav .nav__page-btn {
  outline: none;
  border: none;
  width: 3rem;
  height: 3rem;
  background: white;
  color: black;
  border-radius: 50%;
  margin: 0 0.5rem;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.anime-list-container .anime-list__nav .nav__page-btn p {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  -webkit-transform: translateY(0.25vh);
          transform: translateY(0.25vh);
}

.anime-list-container .anime-list__nav .nav__page-btn:hover {
  cursor: pointer;
  background: #1e1e1f;
  color: white;
}

.anime-list-container .anime-list__nav .active {
  background: #2424ff;
  color: white;
}

.footer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #0f0f0f;
  padding: 3rem 8rem;
  padding-bottom: 2rem;
  width: 100vw;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
  margin-top: 4rem;
}

.footer .footer__about .about__info {
  margin-bottom: 8rem;
}

.footer .footer__about .about__info h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .footer__about .about__info h2 span {
  color: #2424ff;
}

.footer .footer__about .about__info p {
  color: grey;
  font-size: 1.05rem;
  max-width: 40ch;
  line-height: 1.5rem;
}

.footer .footer__about .about__copyright {
  color: grey;
  font-size: 0.975rem;
  margin-right: 0.75rem;
}

.footer .footer__links {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .links__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}

.footer .links__section h6 {
  color: grey;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.footer .links__section a:hover {
  text-decoration: underline;
}

.footer .links__section .section__link {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  min-width: 20ch;
}

.error-message {
  width: 30vw;
  background: white;
  border-radius: 5px;
}

.error-message .error__icon {
  background: red;
  padding: 4rem;
  color: white;
  font-size: 2.25rem;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.error-message .error__icon .icon {
  color: white;
  font-size: 2.25rem;
  margin-right: 0.5rem;
}

.error-message p {
  color: grey;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

.anime-card-skel .anime-card__image {
  background: #0f0f0f;
}

.anime-card-skel .anime__title {
  background: white;
  width: 80%;
  height: 1.5vh;
}

.anime-card-skel .anime__subText {
  background: grey;
  width: 50%;
  margin-top: 2.5px;
  height: 1vh;
}

.genre-anime-skeleton .anime__info {
  width: 100%;
}

.genre-anime-skeleton .anime__image {
  background: #1e1e1f;
}

.genre-anime-skeleton .anime__title {
  width: 70%;
  height: 1.5vh;
  background: white;
  margin-bottom: 5px;
}

.genre-anime-skeleton .anime__subText {
  width: 50%;
  height: 1vh;
  background: grey;
}

.anime-genres-skeleton .list__genre {
  width: 6.5vw;
}

.anime-spotlight-skeleton .anime__image {
  background: #1e1e1f !important;
  border-radius: 5px;
}

.anime-spotlight-skeleton .anime__title {
  background: white;
  width: 40vw;
  height: 3vh;
}

.anime-spotlight-skeleton .skeleton__subTexts {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.anime-spotlight-skeleton .skeleton__subTexts .anime__subText {
  height: 1.25vh;
  background: grey;
  margin: 1rem 0 !important;
}

.anime-spotlight-skeleton .skeleton__subTexts .subText__1 {
  width: 15vw;
}

.anime-spotlight-skeleton .skeleton__subTexts .subText__2 {
  width: 25vw;
}

.anime-spotlight-skeleton .skeleton__subTexts .subText__3 {
  width: 35vw;
}

.anime-spotlight-skeleton .skeleton__subTexts .subText__4 {
  width: 15vw;
}

.anime-spotlight-skeleton .watch__btn,
.anime-spotlight-skeleton .info__btn {
  width: 7.5vw;
  margin-right: 1rem;
}

.episodes__ep-skeleton {
  height: 7.5vh !important;
}

.watch-skeleton .watch__title {
  width: 40vw;
  height: 2.5vh;
  background: white;
}

.watch-skeleton .watch__subTitle {
  width: 20vw;
  height: 2vh;
  background: grey;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.watch-skeleton .watch__video {
  width: 50vw;
  height: 55vh;
  background: #0f0f0f;
}

.watch-skeleton .watch__btn {
  width: 2.5rem;
  height: 2.5rem;
  background: #2424ff;
  border-radius: 5px;
  margin-right: 1rem;
}

.anime-spotlight {
  padding-bottom: 0 !important;
}

.spotlight__background,
.spotlight__shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 120vh;
  z-index: -1;
}

.spotlight__shadow {
  background: rgba(0, 0, 0, 0.9);
}

.spotlight__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spotlight__main .spotlight__anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spotlight__main .anime__image-box {
  position: relative;
  width: 15vw;
  height: 40vh;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.spotlight__main .anime__image-box .anime__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.spotlight__main .anime__image-box .anime__latestEp {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(black), color-stop(98.44%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0, black, rgba(0, 0, 0, 0) 98.44%);
  padding-top: 30vh;
  padding-bottom: 1rem;
}

.spotlight__main .anime__image-box .anime__latestEp p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.spotlight__main .anime__info {
  margin-left: 3rem;
}

.spotlight__main .anime__info h3 {
  color: grey;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.spotlight__main .anime__info .anime__title {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.875rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.spotlight__main .anime__info .anime__title:hover {
  opacity: 0.5;
}

.spotlight__main .anime__info .anime__subText {
  color: grey;
  font-size: 1.35rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  max-width: 80ch;
}

.spotlight__main .anime__info .watch__btn,
.spotlight__main .anime__info .info__btn {
  outline: none;
  border: none;
  padding: 5px 2rem;
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  border-radius: 5px;
  background: black;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.spotlight__main .anime__info .watch__btn .icon,
.spotlight__main .anime__info .info__btn .icon {
  margin-right: 4px;
}

.spotlight__main .anime__info .watch__btn p,
.spotlight__main .anime__info .info__btn p {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.spotlight__main .anime__info .watch__btn:hover,
.spotlight__main .anime__info .info__btn:hover {
  opacity: 0.75;
}

.spotlight__main .anime__info .watch__btn {
  background: #2424ff;
  margin-right: 2rem;
}

.spotlight__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spotlight__buttons .spotlight__button {
  outline: none;
  border: none;
  background: rgba(30, 30, 31, 0.75);
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.spotlight__buttons .spotlight__button .icon {
  color: white;
}

.spotlight__buttons .spotlight__button:hover {
  cursor: pointer;
  background: #2424ff;
}

.vector {
  position: relative;
  -webkit-transform: translate(-20vw, 5vh);
          transform: translate(-20vw, 5vh);
  z-index: -1;
}

.vector div {
  position: absolute;
  bottom: -15vh;
  background: #00000c;
  width: 150vw;
  height: 20vh;
  z-index: 0;
}

.vector path {
  stroke: #2424ff;
  stroke-width: 3px;
}

.genre-anime {
  margin-top: 2rem;
  background: #0f0f0f;
  width: 30%;
  min-height: 75vh;
  border-radius: 2.5px;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
}

.genre-anime .genre-anime__header {
  background: #1e1e1f;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  padding: 1rem 1.5rem;
}

.genre-anime .genre-anime__header .genre-title {
  color: white;
  font-weight: normal;
  font-size: 1.875rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.genre-anime .genre-anime__header .genre-title:hover {
  opacity: 0.5;
}

.genre-anime .none {
  color: grey;
  margin: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.genre-anime .genre-anime__view-more {
  background: #1e1e1f;
  padding: 1rem 0;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.genre-anime .genre-anime__view-more a {
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.genre-anime .genre-anime__view-more a .icon {
  font-size: 1.35rem;
  -webkit-transform: translateY(-0.25vh);
          transform: translateY(-0.25vh);
  margin-left: 0.5rem;
}

.genre-anime .genre-anime__view-more a:hover {
  opacity: 0.5;
}

.genre-anime__list {
  padding: 0.5rem 1.5rem;
}

.genre-anime__list .list__anime {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0;
}

.genre-anime__list .list__anime .anime__image {
  width: 4vw;
  height: 10vh;
  border-radius: 2.5px;
  margin-right: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.genre-anime__list .list__anime .anime__image:hover {
  cursor: pointer;
  opacity: 0.5;
}

.genre-anime__list .list__anime .anime__title {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.275rem;
  max-width: 30ch;
}

.genre-anime__list .list__anime .anime__title:hover {
  text-decoration: underline;
}

.genre-anime__list .list__anime p {
  color: grey;
  margin-top: 2.5px;
}

.anime-genres {
  margin-top: 8rem;
}

.anime-genres .anime-genres__title {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.875rem;
  text-decoration: none;
  margin-bottom: 2rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-genres .anime-genres__title:hover {
  opacity: 0.5;
}

.anime-genres .anime-genres__list-box {
  background: #1e1e1f;
  border-radius: 5px;
  padding: 1.5rem;
}

.anime-genres .anime-genres__list-box .list__view-all {
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  margin-top: 3rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-genres .anime-genres__list-box .list__view-all .icon {
  font-size: 1.35rem;
  -webkit-transform: translateY(-0.25vh);
          transform: translateY(-0.25vh);
  margin-left: 0.5rem;
}

.anime-genres .anime-genres__list-box .list__view-all:hover {
  opacity: 0.5;
}

.anime-genres .anime-genres__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.anime-genres .anime-genres__list .list__genre {
  text-decoration: none;
  color: white;
  background: #00000c;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-genres .anime-genres__list .list__genre:hover {
  background: #2424ff;
}

.anime-page-container {
  min-height: 100vh;
  padding-top: 10rem !important;
}

.anime-page__header h2 {
  position: relative;
  color: white;
  font-size: 2.25rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.anime-page__header h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1vh;
  bottom: 0;
  background: #2424ff;
  width: 0.3vw;
}

.genres-container .genres__title {
  display: block;
  color: white;
  font-size: 2.25rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2rem;
}

.genres-container .genres__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.genres-container .list__genre {
  color: white;
  font-size: 1.2rem;
  background: #1e1e1f;
  text-decoration: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.65rem 2rem;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.genres-container .list__genre:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #2424ff;
}

.anime-info-container .anime__subText {
  max-width: 90ch !important;
  line-height: 2rem;
  max-height: 30vh;
  overflow-y: scroll;
}

.anime-info-container .spotlight__background,
.anime-info-container .spotlight__shadow {
  height: 125vh;
}

.anime-info__secTitle {
  margin-bottom: 1rem;
}

.anime-info__secTitle p {
  font-size: 1.125rem;
  margin-right: 2rem;
}

.anime-info__secTitle .dot {
  position: relative;
}

.anime-info__secTitle .dot::after {
  content: "";
  position: absolute;
  right: -1.35rem;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background: grey;
}

.anime-info__genre {
  background: #00000c;
  color: white;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.05rem;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.anime-info__genre:hover {
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

.anime-eps-container {
  background: #00000c;
  z-index: 10;
}

.anime-eps-container h1 {
  color: white;
  font-size: 2.25rem;
}

.anime-eps-container .none {
  color: grey;
  font-size: 1.35rem;
  margin-top: 2rem;
}

.episodes {
  margin-top: 4rem;
}

.episodes__ep {
  width: 75%;
  background: #1e1e1f !important;
  padding: 1rem 1rem;
  border-left: 4px solid #2424ff;
  margin-bottom: 2rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
  -webkit-animation: fade-in 1500ms forwards ease-out 200ms;
          animation: fade-in 1500ms forwards ease-out 200ms;
}

.episodes__ep p {
  color: white;
  font-size: 1.2rem;
}

.episodes__ep:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

.episodes__ep:hover p {
  color: yellow;
}

.anime-eps__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.anime-eps__tabs .tabs__tab {
  outline: none;
  border: none;
  background: white;
  font-size: 0.975rem;
  font-family: "Teko", sans-serif;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 0.25rem 2rem;
  border-radius: 10px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anime-eps__tabs .tabs__tab:hover {
  cursor: pointer;
  background: rgba(36, 36, 255, 0.5);
  color: white;
}

.anime-eps__tabs .active {
  background: #2424ff;
  color: white;
}

.watch-container {
  padding-bottom: 16rem !important;
}

.watch-container .watch__title {
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: bold;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.watch-container .watch__title:hover {
  opacity: 0.5;
}

.watch-container h3 {
  color: grey;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.watch__video {
  width: 50vw;
  height: 55vh;
  background: #0f0f0f;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  margin-bottom: 2rem;
}

.watch__video-nav {
  color: #2424ff;
  text-decoration: none;
  margin-right: 1rem;
  border-radius: 5px;
  padding: 7.5px;
  border: 2px solid #2424ff;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.watch__video-nav:hover {
  background: rgba(36, 36, 255, 0.25);
}

.watch__disabled {
  color: grey;
  border-color: grey;
}

.watch__disabled:hover {
  cursor: not-allowed;
}

.video-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.watch__video-sources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1e1e1f;
  margin-left: 2rem;
}

.watch__video-sources p {
  color: white;
  padding: 1rem;
  padding-right: 2rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.watch__video-sources p:hover {
  cursor: pointer;
  background: #2424ff;
}

.watch__video-sources .active {
  background: #2424ff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  background: #00000c;
  font-family: "Teko", sans-serif;
  overflow-x: hidden;
}

.App {
  margin: 0 8rem;
  font-family: "Teko", sans-serif;
}

.coming-soon {
  color: white;
  font-size: 2.25rem;
}

.not-found-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.not-found-container .not-found-404 {
  width: 40%;
  margin-bottom: 2rem;
}

.not-found-container .not-found-404 h1 {
  color: #2424ff;
  font-size: 16.875rem;
  font-weight: normal;
}

.not-found-container .not-found-404 .left {
  opacity: 0;
  -webkit-animation: slide-in-left 1000ms forwards ease-out 500ms;
          animation: slide-in-left 1000ms forwards ease-out 500ms;
}

.not-found-container .not-found-404 .right {
  opacity: 0;
  -webkit-animation: slide-in-right 1000ms forwards ease-out 500ms;
          animation: slide-in-right 1000ms forwards ease-out 500ms;
}

.not-found-container .not-found-404 h2 {
  color: white;
  font-size: 13.5rem;
  font-weight: normal;
  opacity: 0;
  -webkit-animation: fade-in 2000ms forwards ease-out 500ms;
          animation: fade-in 2000ms forwards ease-out 500ms;
}

.not-found-container p,
.not-found-container a {
  opacity: 0;
  -webkit-animation: fade-in 1000ms forwards ease-out 1500ms;
          animation: fade-in 1000ms forwards ease-out 1500ms;
}

.not-found-container p {
  color: white;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.not-found-container a {
  text-decoration: none;
  color: grey;
  font-size: 1.5rem;
  border: 2px solid grey;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  padding-top: 0.65rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.not-found-container a:hover {
  background: #2424ff;
  color: white;
  border-color: #2424ff;
}

.btt-btn {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  background: #2424ff;
  border-radius: 50%;
  z-index: 1000;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.btt-btn .icon {
  color: white;
  font-size: 1.725rem;
}

.btt-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar {
    padding: 2rem 4rem;
  }
  .navbar .navbar__title {
    font-size: 1.5rem;
  }
  .navbar .navbar__link {
    font-size: 0.9rem;
  }
  .navbar .navbar__search {
    padding: 2.5px 0.8rem;
  }
  .navbar .navbar__search input {
    font-size: 0.975rem;
  }
  .navbar .navbar__search .icon {
    font-size: 0.975rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    padding: 3rem 4rem;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    margin-top: 4rem;
  }
  .footer .footer__about .about__info h2 {
    margin-bottom: 0.8rem;
  }
  .footer .footer__about .about__info p {
    font-size: 1.05rem;
    max-width: 35ch;
  }
  .footer .footer__about .about__copyright {
    font-size: 0.75rem;
  }
  .footer .links__section {
    margin-right: 1rem;
  }
  .footer .links__section h6 {
    font-size: 0.975rem;
    margin-bottom: 1rem;
  }
  .footer .links__section .section__link {
    font-size: 1.05rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .anime-section {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
  .anime-section .anime-section__none {
    font-size: 1.5rem;
  }
  .anime-section__header {
    margin-bottom: 3rem;
  }
  .anime-section__header .header__title {
    font-size: 1.5rem;
  }
  .anime-section__header .header__title::after {
    bottom: -1.5vh;
    width: 65%;
    height: 0.35vh;
  }
  .anime-section__header .header__tab {
    width: 3vw;
  }
  .anime-section__anime .anime-section__button .icon {
    font-size: 2.25rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .anime-card .anime-card__image-box {
    margin-bottom: 0.5rem;
  }
  .anime-card .anime-card__image-box .anime-card__image {
    height: 20vh;
  }
  .anime-card .anime-card__image-box .image__hover {
    display: none;
  }
  .anime-card .anime__title {
    max-width: 70%;
    font-size: 0.975rem;
    margin-bottom: 2.5px;
  }
  .anime-card p {
    font-size: 0.9rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .spotlight__main .anime__image-box {
    position: relative;
    width: 15vw;
    height: 30vh;
  }
  .spotlight__main .anime__image-box .anime__latestEp p {
    font-size: 0.975rem;
  }
  .spotlight__main .anime__info {
    margin-left: 2rem;
  }
  .spotlight__main .anime__info h3 {
    font-size: 1.2rem;
  }
  .spotlight__main .anime__info .anime__title {
    max-width: 30ch;
  }
  .spotlight__main .anime__info .anime__subText {
    font-size: 1.2rem;
  }
  .spotlight__main .anime__info .watch__btn,
  .spotlight__main .anime__info .info__btn {
    padding: 6.5px 2rem;
    font-size: 1.125rem;
  }
  .spotlight__main .anime__info .watch__btn .icon,
  .spotlight__main .anime__info .info__btn .icon {
    margin-right: 6px;
  }
  .genre-anime {
    min-height: 55vh;
  }
  .genre-anime .genre-anime__header .genre-title {
    font-size: 1.5rem;
  }
  .genre-anime .genre-anime__view-more a {
    font-size: 1.2rem;
  }
  .genre-anime .genre-anime__view-more a .icon {
    font-size: 1.2rem;
  }
  .genre-anime__list {
    padding: 0.25rem 1.25rem;
  }
  .genre-anime__list .list__anime .anime__image {
    height: 7.5vh;
  }
  .genre-anime__list .list__anime .anime__title {
    font-size: 1.05rem;
    max-width: 25ch;
  }
  .genre-anime__list .list__anime p {
    font-size: 0.75rem;
  }
  .anime-genres {
    margin-top: 4rem;
  }
  .anime-genres .anime-genres__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .anime-genres .anime-genres__list-box {
    padding: 1.5rem;
  }
  .anime-genres .anime-genres__list-box .list__view-all {
    font-size: 1.125rem;
    margin-top: 2.5rem;
  }
  .anime-genres .anime-genres__list-box .list__view-all .icon {
    font-size: 1.2rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .anime-info-container .anime__subText {
    max-width: 80ch !important;
    max-height: 20vh;
  }
  .anime-info-container .spotlight__background,
  .anime-info-container .spotlight__shadow {
    height: 100vh;
  }
  .anime-eps-container {
    margin-top: 1rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .watch__video {
    width: 55vw;
    height: 45vh;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    margin: 0 4rem;
  }
}
/*# sourceMappingURL=main.css.map */