// Footer Styles
.footer {
  align-items: flex-start;
  background: $dark-sec-bg;
  padding: $spacer * 1.5 $lg-pad;
  padding-bottom: $spacer;
  width: 100vw;
  transform: translateX($lg-pad * -1);
  margin-top: $spacer-md;

  .main-content {
    align-items: flex-start;
    margin-bottom: $spacer-md;
  }

  .footer__about {
    .about__info {
      h2 {
        color: white;
        font-size: $main-fs;
        margin-bottom: $spacer-small;

        span {
          color: $primary-clr;
        }
      }

      p {
        color: grey;
        font-size: $main-fs * 0.7;
        max-width: 40ch;
        line-height: $spacer-small * 1.5;
      }
    }
  }

  .footer__links {
    align-items: flex-start;
  }

  .links__section {
    display: flex;
    flex-direction: column;
    margin-right: $spacer;

    h6 {
      color: grey;
      font-size: $main-fs * 0.8;
      font-weight: normal;
      margin-bottom: $spacer-small;
    }

    a:hover {
      text-decoration: underline;
    }

    .section__link {
      color: white;
      font-size: $main-fs * 0.8;
      margin-bottom: $spacer-small * 1.5;
      text-decoration: none;
      min-width: 20ch;
    }
  }

  .about__copyright {
    color: grey;
    font-size: $main-fs * 0.65;
    margin-right: $spacer-small * 0.75;
  }
}
