// Footer Media Queries

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    padding: $spacer * 1.5 $md-pad;
    transform: translateX($md-pad * -1);
    margin-top: $spacer-md;

    .footer__about {
      .about__info {
        h2 {
          margin-bottom: $spacer-small * 0.8;
        }

        p {
          font-size: $main-fs * 0.7;
          max-width: 35ch;
        }
      }
    }

    .links__section {
      margin-right: $spacer-small;

      h6 {
        font-size: $main-fs * 0.65;
        margin-bottom: $spacer-small;
      }

      .section__link {
        font-size: $main-fs * 0.7;
      }
    }

    .about__copyright {
      font-size: $main-fs * 0.5;
    }
  }
}

/* Mobile Phones */
@media only screen and (max-device-width: 428px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacer * 1.5 $md-pad;
    transform: none;

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__about {
      .about__info {
        position: relative;
        margin-bottom: $spacer-md;
        padding-bottom: $spacer * 1.5;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          background: $primary-clr;
          height: 0.15vh;
        }

        h2 {
          text-align: center;
        }

        p {
          max-width: 55ch;
          text-align: center;
        }
      }
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .links__section {
      align-items: center;
      margin-right: 0;
      margin-bottom: $spacer;

      h6 {
        font-size: $main-fs;
        margin-bottom: $spacer-small * 1.25;
      }

      .section__link {
        font-size: $main-fs;
        text-align: center;
      }
    }
  }
}
