// Genres Page Styles
.genres-container {
  min-height: 100vh;

  .genres__title {
    display: block;
    color: white;
    font-size: $md-fs;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: $spacer;
  }

  .genres__list {
    display: flex;
    flex-wrap: wrap;
  }

  .list__genre {
    color: white;
    font-size: $main-fs * 0.8;
    background: $light-sec-bg;
    text-decoration: none;
    margin-right: $spacer-small;
    margin-bottom: $spacer-small;
    padding: $spacer-small * 0.65 $spacer;
    transition: all 150ms ease-out;

    &:hover {
      transform: scale(0.8);
      background: $primary-clr;
    }
  }
}
