// Anime Skeletons

// Anime Card
.anime-card-skel {
  .anime-card__image {
    background: $dark-sec-bg;
  }

  .anime__title {
    background: white;
    width: 80%;
    height: 1.5vh;
  }

  .anime__subText {
    background: grey;
    width: 50%;
    margin-top: 2.5px;
    height: 1vh;
  }
}

// Genre Anime
.genre-anime-skeleton {
  .anime__info {
    width: 100%;
  }

  .anime__image {
    background: $light-sec-bg;
  }

  .anime__title {
    width: 70%;
    height: 1.5vh;
    background: white;
    margin-bottom: 5px;
  }

  .anime__subText {
    width: 50%;
    height: 1vh;
    background: grey;
  }
}

// Anime Genres
.anime-genres-skeleton {
  .list__genre {
    width: 6.5vw;
  }
}

// Anime Spotlight
.anime-spotlight-skeleton {
  .anime__image {
    background: $light-sec-bg !important;
    border-radius: $border-radius;
  }

  .anime__title {
    background: white;
    width: 40vw;
    height: 3vh;
  }

  .skeleton__subTexts {
    margin-top: $spacer;
    margin-bottom: $spacer-md;

    .anime__subText {
      height: 1.25vh;
      background: grey;
      margin: $spacer-small 0 !important;
    }

    .subText__1 {
      width: 15vw;
    }
    .subText__2 {
      width: 25vw;
    }
    .subText__3 {
      width: 35vw;
    }
    .subText__4 {
      width: 15vw;
    }
  }

  .watch__btn,
  .info__btn {
    width: 7.5vw;
    margin-right: $spacer-small;
  }
}

// Anime Info Episodes
.episodes__ep-skeleton {
  height: 7.5vh !important;
}
