// Alerts Styles

// Error
.alert__error {
  $error-clr: rgb(250, 30, 30);
  position: fixed;
  left: $spacer-lg;
  bottom: 10vh;
  min-width: 20vw;
  padding: $spacer-small * 0.75 $spacer-small;
  border-left: 6px solid $error-clr;
  border-radius: $border-radius * 0.5;
  background: $dark-sec-bg;
  animation: slide-in-left 1000ms forwards ease-out;
  z-index: 5000;

  .icon {
    color: $error-clr;
    font-size: $main-fs * 1.25;
  }

  h4 {
    color: white;
    margin-bottom: 4px;
    font-weight: 500;
  }

  p {
    color: grey;
    font-size: $main-fs * 0.75;
  }
}

// Small Device Alert
.small-device-alert {
  padding-top: $spacer-md !important;
  display: flex !important;

  h1 {
    color: white;
    font-size: $md-fs;
    text-align: center;
    margin-bottom: $spacer;

    span {
      color: $primary-clr;
    }
  }

  p {
    width: 35ch;
    color: white;
    text-align: center;
    line-height: $spacer * 1.5;
    font-size: $main-fs;
  }

  strong {
    margin-top: $spacer-md;
    color: white;
    font-size: $main-fs * 1.25;
  }
}
