// Main Media Queries

// Layout
@import "./layout/navbar/navbar.mq";
@import "./layout/footer/footer.mq";
@import "./layout/anime/anime-section.mq";
@import "./layout/anime/anime-card.mq";
@import "./layout/skeletons/anime-skeletons.mq";

// Pages
@import "./pages/home/home.mq";
@import "./pages/anime-info-page/anime-info-page.mq";
@import "./pages/watch/watch.mq";
@import "./pages/myanime/myanime.mq";

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    margin: 0 $md-pad;
  }
}

/* Mobile Phones */
@media only screen and (max-device-width: 428px) {
  // Global
  .container {
    padding: 0 !important;
  }

  .App {
    margin: 0;
    padding-top: $spacer-md;
  }

  // Coming Soon
  .coming-soon {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    line-height: $spacer * 1.5;
  }

  // Not Found
  .not-found-container {
    .not-found-404 {
      width: 75%;
      margin-bottom: $spacer;

      h1 {
        font-size: $lg-fs * 4;
      }

      h2 {
        font-size: $lg-fs * 3;
      }
    }

    p {
      width: 85%;
      font-size: $main-fs * 1.25;
      margin-bottom: $spacer * 1.25;
      text-align: center;
    }

    a {
      font-size: $main-fs * 0.8;
    }
  }

  // Back To Top Button
  .btt-btn {
    outline: none;
    border: none;
    bottom: 15vh;
  }

  // Ads Warning
  .ads-warning-content {
    width: 90vw;
  }
}
